.tim {
    border: 0;
    padding: 0;
    display: inline;
    background: none;
    text-decoration: underline;
    color: blue;
}
button:hover {
    cursor: pointer;
}

ul{

    list-style: none;
    display: flex;
    justify-content: space-between;

    width: 100px;

}