<head>

    <link rel="stylesheet" href="/css/header-logado.css">

</head>

<header>

    <ul>
        <li><a href="/">Login</a></li>
        <li><a href="/home">Home</a></li>
        <li><form action="/exclusivo" method="POST">

            <button class="tim"><a>Conteúdo Exclusivo</a></button>
            
        </form></li>
    </ul>

        
        

        

</header>